.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.header-links {
  right: 0;
  top: 0;
  padding: 1rem;
  margin-left: auto;
}

.header-link {
  margin-right: 1rem;
}
.book-a-call-button {
  background-color: #004b8f; /* Red background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
