.userBusinessSelect {
  display: block;
}

.ql-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.ql-editor {
  overflow-y: auto;
  flex-grow: 1;
}

.profileHeader {
  padding: 20px;
  font-size: 3.75rem !important; /* 60px */
  font-weight: 300 !important;
  letter-spacing: -0.00833em !important;
  line-height: 1.167 !important;
}

@media (max-width: 1200px) {
  .profileHeader {
    padding: 15px;
    font-size: 2.75rem !important; /* 60px */
    font-weight: 300 !important;
    letter-spacing: -0.00833em !important;
    line-height: 1.167 !important;
  }
}
@media (max-width: 600px) {
  .profileHeader {
    padding: 10px;
    font-size: 2.125rem !important; /* 34px */
    font-weight: 300 !important;
    letter-spacing: -0.00833em !important;
    line-height: 1.167 !important;
  }
}

/* Default light mode styles */
.text-primary_dark_cyan {
  color: #004b8f;
}

/* Other default styles */

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .text-primary_dark_cyan {
    color: rgb(
      211,
      195,
      13
    ); /* Choose a color that is visible on dark backgrounds */
  }

  /* Change colors of other elements in dark mode */
  .text-dark_gray_cyan {
    color: rgb(12, 56, 12);
  }
}
