.myButton {
  margin-bottom: 1rem;
  background-color: #9eb8d0;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.myButton:hover {
  background-color: #1e3a8a;
}
.myTextarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #6b7280;
  border-radius: 0.25rem;
}

.deleteButton {
  margin-bottom: 1rem;
  background-color: #ee5656;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.deleteButton:hover {
  background-color: #f10000;
}
.svg_icons {
  transform: scale(5);
  margin-right: 3rem;
  border-radius: 50%;
}

.addNewButton {
  margin-bottom: 1rem;
  background-color: #00e676;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.addNewButton:hover {
  background-color: #00a153;
}
.usersList {
  display: inline-block;
  font-weight: 400;
}

.ql-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.ql-editor {
  overflow-y: auto;
  flex-grow: 1;
}

thead tr {
  background-color: white !important;
}

tr:nth-child(even) {
  background-color: #dbdbdb;
}

tr:nth-child(odd) {
  background-color: #e8e8e8;
}

.profileHeader {
  width: 100%;
  padding: 20px;
  font-size: 3.75rem !important; /* 60px */
  font-weight: 300 !important;
  letter-spacing: -0.00833em !important;
  line-height: 1.167 !important;
}

@media (max-width: 1200px) {
  .svg_icons {
    transform: scale(2);
  }
  .profileHeader {
    padding: 15px;
    font-size: 2.75rem !important; /* 60px */
    font-weight: 300 !important;
    letter-spacing: -0.00833em !important;
    line-height: 1.167 !important;
  }
}

@media (max-width: 600px) {
  .profileHeader {
    padding: 10px;
    font-size: 2.125rem !important; /* 34px */
    font-weight: 300 !important;
    letter-spacing: -0.00833em !important;
    line-height: 1.167 !important;
  }
  .svg_icons {
    transform: scale(1);
  }
}
