.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding-top: calc(10vmax / 10);
  padding-bottom: calc(10vmax / 10);
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 1120px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
}

.termsandcond {
  display: flex;
}

.footer-link {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
}
